<div class="flex flex-col items-center justify-center w-full h-full bg-black border-none">
  <div class="w-64">
  <%= for {_id, circle} <- @circles do %>
    <div id="circle-<%=circle.id%>" phx-click="circle_click" phx-value-circleid="<%= circle.id %>" phx-value-circlecreate="<%= circle.create %>" phx-value-circlecolor="<%= circle.color %>" class="circle <%= circle.color %>"></div>
  <% end %>
  </div>
</div>

<%# https://dev.to/tchaflich/a-width-responsive-perfect-square-in-pure-css-3dao %>
