<div class="flex items-center justify-around w-full h-screen bg-black border-none">
  <div class="w-64 h-64 rounded-full bg-pink">
  </div>
  <div phx-click="circle_click" class="flex items-center justify-center w-64 h-64 rounded-full <%= @circle_color %>">
    <%= @hello %>
  </div>
</div>

<%# https://dev.to/tchaflich/a-width-responsive-perfect-square-in-pure-css-3dao %>
